{%extends 'base.html' %}


{% block title %}
<title> Добавить заказ </title>
{% endblock %}

{% block body %}

<section id="profile" style="margin-top: 50px;">
    <div class="container">
        <h1 class="text-center">Создать обьявление от лица {{current_user.login}}</h1>
        <div class="row">            
            <div class="col-12">
                <form method="POST">
                <ul class="list-group">                    
                    <li class="list-group-item">
                        <input type="login" name="title" class="form-control" placeholder="Заголовок заказа">
                    </li>             
                    <li class="list-group-item">
                        <input type="text" name="desc" class="form-control" placeholder="Описание">
                    </li>             
                    <li class="list-group-item">
                        <input type="text" name="price" class="form-control" placeholder="Указать цену">
                    </li>      
                     <button type="submit" class="btn btn-primary">Создать обявление</button>
                    </ul>  
                </form>      
            </div>
        </div>
    </div>
</section>

{% endblock %}